@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.active{
    background-color: #F29724;
    color: white;
    font-weight: 800;
    box-shadow: 0 10px 15px -3px #d97706;
 }
 #sidelinks a{
    transition: .4s;
 }
 #sidelinks a:hover{
    scale: 1.2;
 }
/*   
font-family: "Pacifico", serif;
  font-family: "Roboto", serif;
 */
 

    h1, h2{
        font-family: "Pacifico", serif;
        font-weight: 700;
        font-size: 36px;
        background-image: linear-gradient(to right, #F6AD55 , #c90519);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-left: 15px;
        margin-bottom: 18px;
    }
 *{
    font-family: "Roboto", serif;

 }
 #desc{
    line-height: 25px;
 }